<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Статус ферм</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='/favicon.png') }}">

    <link href="{{ url_for('static', path='/classes.css') }}" rel="stylesheet">
    <meta http-equiv="Refresh" content="3" />   
</head>

<body>
    {%for farm in farms %}
    <table class="greenTable">
        <caption>{{farm.name}}</caption>
        <thead>
        <tr>
        <th>URL</th>
        <th >Connection</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td>{{farm.URL}}</td><td {% if farm.connection !="Connected" %} style="color: red; font-weight: bold;" {% endif %} > {{farm.connection}}</td></tr>
        </tbody>
        </tr>
        </table>
        <table class="greenTable">
            <thead>
                <tr>
                   <th >Описание точки</th>
                   <th>Короткий Адрес</th> 
                   <th>Значение</th>
                </tr>
            </thead>
            <tbody>
                {%for value in  farm["values"] %}
                <tr>
                   <td>{{value.name}}</td> 
                   <td>{{value.address}}</td>
                   <td>{{value.value}}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
        <div>-----</div>
    {% endfor %}
</body>
</html> 